<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [71]:
# What is your name! print your name!
# Only use one print function
print('My name is Hasnain Ansari')

My name is Hasnain Ansari

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [72]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh=7
z=6
rohan=5
longitude=4

In [73]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [74]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = "Manral"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----|
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [75]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [76]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

21
50.6
Mukesh
Manral

In [77]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh'
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name
ur_last_name == ur_first_name

True

In [78]:
# define a variable name "x" and assign value 777 and print it
x=777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [79]:
# Initialize variables [x,y,z,zz] with values
## x as 7 =>int ,
## y as 77 =>int,
## z as 77.7 => float,
## zz as 'Hi' => string
x=int(7)
y=int(77)
z=float(77.7)
zz='Hi'

# **`Arithmetic Operators`**

In [80]:
# add x and z
print(x+z)

84.7

In [81]:
# subtract z and y
print(z-y)

0.7000000000000028

In [82]:
# Multiply x and z
print(x*z)

543.9

In [83]:
# Exponent (raise the power or times) x times z
print(x**z)

4.614426248242042e+65

In [84]:
# division on x and z
print(x/z)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [85]:
# floor division(ignores decimal) on x and z (gives quotient)
print(x//z)

0.0

In [86]:
# Modulo(gives remainder) on x and z
print(x%z)

7.0

# **`Comparison Operators`**

In [87]:
# comapre and see if x is less then z
# can use '<' symbol
x<z

True

In [88]:
# check the type of above comaprison where it says comapre and see if x is less then z
type(x<z)

bool

* `Bool` => takes two values, either `True` or `False`

In [89]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
x<=z

True

In [90]:
# comapre and see if x equall to z
# can use '==' symbol
x==z

False

In [91]:
# comapre and see if x is greater than z
# can use '>' symbol
x>z

False

In [92]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
x>=z

False

In [93]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

x!=z

True

# **`Logical Operators`**

In [94]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True

108==108 and 21==21

True

In [95]:
# how above condition can give False as output show all those conditions
print(108>108 and 21==21)
print(108==108 and 21>21)
print(108>108 and 21>21)
print(108!=108 and 21==21)
print(108!=108 and 21>21)
print(108!=108 and 21!=21)
print(108<108 and 21==21)
print(108<108 and 21>21)
print(108<108 and 21<21)

False
False
False
False
False
False
False
False
False

In [96]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True

108==108 or 21==11

True

In [97]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:`
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [98]:
# make variable with value as : money 100000

# see output of money > 2000


money=100000
money>2000

True

In [99]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working


money=10000
print('you have',money,'amount in your account')
if money>1000:
  print('You have enough money to buy Data Science course')
else:
  print('You have less money to buy Data Science course')

you have 10000 amount in your account
You have enough money to buy Data Science course

In [100]:
# take a test_score variable with 80 in it.

# if test_score greater then 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

test_score=80
if test_score>80:
  print('A grade')
elif test_score>60 and test_score<=80:
  print('B grade')
else:
  print('Nothing for you')

B grade

# **`Python Loops`**

In [101]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [102]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [103]:
# print 'I love sports' 10 times using for loop
for i in range(10):
  print('I love sports')

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [104]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [105]:
# while loop

# save 0 in variable number

# print till 10 using while loop
number=0
while number!=10:
  print(number)
  number+=1

0
1
2
3
4
5
6
7
8
9

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [106]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for i in range(10):
  print('The number is ',i)
  if i==5:
    break

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4
The number is  5

# **`Continue Statement`**

In [107]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5

In [108]:
for i in range(10):
  print('The number is',i)
  if i==5:
    continue

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
The number is 7
The number is 8
The number is 9

# **`String Manipulation`**

In [109]:
string_ = '' or "" or """ """

In [110]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
string='we are creating next generation data science eco-system at CollegeRanker'

In [111]:
# Find length of string including spaces
len(string)

72

In [112]:
# Access characters in a string with indexing i.e string[0]
string[12]

'i'

In [113]:
# Access characters with negative indexing i.e string[-1]
string[-1]

'r'

# String Slicing

In [114]:
# select string from first to 6th element i.e string[:6]
string[0:6]

'we are'

In [115]:
# select string from 7th to negative 10th element i.e string[7:-10]
string[7:-10]

'creating next generation data science eco-system at Col'

Count of a particular `character` in a string

In [116]:
count=0
for i in string:
  if i=='o':
    count+=1
print(string)
print("The character 'o' appears",count,"times in the string.")

we are creating next generation data science eco-system at CollegeRanker
The character 'o' appears 3 times in the string.

Count of a particular `sub-string` in a string

In [117]:
count=0
for i in string:
  if i=='we':
    count+=1
print(count)

0

In [118]:
sub='we'
count=string.count(sub)
print(count)

1

Find a substring in string using `find` and `index` function

In [144]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error

count=string.find('data')
print(count)

c=string.index('science')
print(c)

32
37

In [160]:
### Checking whether string `startswith` or `endswith` a particular substring or not

if string.startswith("we"):
  print("string starts with 'we'")
else:
  print("string does not starts with 'we'")

string does not starts with 'we'

In [161]:
if string.endswith("CollegeRanker"):
  print("string ends with 'CollegeRanker'")
else:
  print("string does not ends with 'CollegeRanker'")

string ends with 'CollegeRanker'

In [162]:
### Converting string to upper case ###

string.upper()

'WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER'

In [163]:
### Converting only first character of string to upper case

string.capitalize()

'We are creating next generation data science eco-system at collegeranker'

In [172]:
string.title()

'We Are Creating Next Generation Data Science Eco-System At Collegeranker'

In [173]:
### Checking if string is in lower case or upper case
string='we are creating next generation data science eco-system at collegeranker'
if string.islower():
  print("string is in lower case")
else:
  print("string is not in lower case")

string is in lower case

In [176]:
if string.isupper():
  print('string is in upper case')
else:
  print('string is not in upper case')

string is not in upper case

In [180]:
### Checking if string is digit, alpabetic, alpha-numeric
string='we are creating next generation data science eco-system at collegeranker'
print(string.isdigit())
print(string.isalpha())
print(string.isalnum())

False
False
False

In [181]:
s='we123'
print(s.isdigit())
print(s.isalpha())
print(s.isalnum())

False
False
True

In [182]:
# assign "C++ is easy to learn" to a new_str variable

new_str='C++ is easy to learn'

In [186]:
### Replace C++ with Python
new_str.replace('C++','Python')

'Python is easy to learn'

In [184]:
### Use Split function on new_str ###
new_str.split()

['C++', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [128]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [187]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome_message(name):
  print('Welcome to Functions !!!')

In [189]:
# call a function with your name
name='Hasnain'
welcome_message(name)

Welcome to Functions !!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [190]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable

def add(a,b):
  total=a+b
  print(total)

add(3,4)

7

# ***`Positional Arguments`***
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [192]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

def substraction_function(small_number,large_number):
  return large_number-small_number

In [195]:
# pass arguments in right order

small_number=6
large_number=9
substraction_function(small_number,large_number)

3

In [194]:
# always pass arguments using there name(keyword arguments) then order does not matter

substraction_function(large_number=9,small_number=6)

3

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [135]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [136]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [137]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [138]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function